.navigation-container {
  position: relative;
  display: flex;
  align-items: center;

  button {
    img {
      width: 90%;
    }
  }

  ul {
    position: absolute;
    min-width: 200px;
    background-color: white;
    border: 1px solid #212529;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      &:hover {
        background-color: #d93939;
      }
    }
  }
  .navigation-menu {
    top: 48px;

    & > li.is-have-nestedList {
      padding: 5px 0 5px 5px;
    }

    a {
      display: block;
      padding: 5px 0 5px 5px;
      text-decoration: none;
      color: black;
    }

    .navigation-menu-nested-list {
      position: absolute;
      left: 200px;
      top: calc(31px * 1);
    }

    .display-block {
      display: block;
    }

    .display-none {
      display: none;
    }
  }
}
