@import '../../variable/variable.scss';

.form-container {
  position: relative;
  width: 80%;
  margin: auto;
  border: 3px solid #115272;
  border-radius: 30px;
  padding: 50px;
  margin-top: 50px;

  .title {
    position: absolute;
    top: -25px;
    left: 70px;
    padding: 0 20px;
    font-size: 30px;
    background-color: white;
  }

  .section-title {
    background-color: $blue-02;
    color: white;
    font-size: 20px;
    margin: 20px 0;
    padding: 5px;
  }

  .information-fields {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .checkbox-group {
    img {
      width: 30px;
      height: 30px;
    }
    p {
      display: inline-block;
    }
    .title {
      display: flex;
      align-items: center;
    }
  }

  .MuiTextField-root {
    width: 33%;
  }
}
