@import './variable.scss';

button.primary {
  background-color: $blue-02 !important;
}

img.dialog-icon {
  width: 70px;
  height: 70px;
}

.container {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid #115272;
  border-radius: 30px;
  padding: 50px;
  margin-top: 40px;

  &.nested-table {
    padding: 0;
    border: none;
    width: 100%;
  }

  &.min-h-500 {
    min-height: 500px;
  }

  .title {
    position: absolute;
    top: -25px;
    left: 70px;
    padding: 0 20px;
    font-size: 30px;
    background-color: white;
  }

  .section-title {
    background-color: $blue-02;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;

    &.mt-50 {
      margin-top: 50px;
    }
  }

  .information-fields {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .checkbox-group {
    img {
      width: 30px;
      height: 30px;
    }
    p {
      display: inline-block;
    }
    .title {
      display: flex;
      align-items: center;
    }
  }
  &.text-field-1-3 .MuiTextField-root {
    width: 33%;
  }
  &.text-field-1-4 .MuiTextField-root {
    width: 24%;
  }

  .table-features {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 40px;

    .search-field {
      display: flex;
      align-items: center;
      & > span {
        vertical-align: super;
        font-weight: bold;
        font-size: 18px;
        padding-right: 10px;
      }
      input {
        padding: 10px;
      }
    }
  }

  table {
    padding: 50px;

    th {
      background-color: #0038a8;
      color: #fff;
      font-size: 16px;

      button {
        padding-top: 0;
      }
    }

    tr:nth-child(even) {
      background-color: #e9ebf5;
    }
    tr:nth-child(odd) {
      background-color: #cfd5ea;
    }
    svg {
      margin: 0 5px;
    }
    button {
      padding: 4px;
    }

    span {
      font-size: medium;
    }

    span.status {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      height: 30px;
      color: #fff;

      &.active {
        background-color: #198754;
      }

      &.inactive {
        background-color: #d93939;
      }
    }
  }
}
