@import '../variable/variable.scss';

.form-container {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid #115272;
  border-radius: 30px;
  padding: 30px;
  margin-top: 40px;

  .title {
    position: absolute;
    top: -25px;
    left: 70px;
    padding: 0 20px;
    font-size: 30px;
    background-color: white;
  }

  .section-title {
    background-color: $blue-02;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
  }

  .information-fields {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .checkbox-group {
    img {
      width: 30px;
      height: 30px;
    }
    p {
      display: inline-block;
    }
    .title {
      display: flex;
      align-items: center;
    }
  }
  &.text-field-1-3 .MuiTextField-root {
    width: 33%;
  }
  &.text-field-1-4 .MuiTextField-root {
    width: 24%;
  }
}
