@import '../../../style/variable.scss';

.features {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 20px 50px;

  .feature-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #f2f2f2;
    padding: 0 10px 20px;
    border-radius: 15px;
    width: 32%;
    height: 220px;

    button {
      height: 50px;
      border-radius: calc(50px / 2);
      border: 3px solid $blue-02;
      min-width: 250px;
    }
  }
}
