@import '../../../variable/variable.scss';

.table-management-container {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid #115272;
  border-radius: 30px;
  padding: 50px;
  margin-top: 50px;

  .table-management-title {
    position: absolute;
    top: -25px;
    left: 70px;
    padding: 0 20px;
    font-size: 30px;
    background-color: white;
  }

  .table-management-features {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .search-field {
      display: flex;
      align-items: center;
      & > span {
        vertical-align: super;
        font-weight: bold;
        font-size: 18px;
        padding-right: 10px;
      }
      input {
        padding: 10px;
      }
    }
  }

  table {
    padding: 50px;

    th {
      background-color: #0038a8;
      color: #fff;
      font-size: 16px;

      button {
        padding-top: 0;
      }
    }

    tr:nth-child(even) {
      background-color: #e9ebf5;
    }
    tr:nth-child(odd) {
      background-color: #cfd5ea;
    }
    svg {
      margin: 0 5px;
    }
    button {
      padding: 4px;
    }

    span {
      font-size: medium;
    }

    span.status {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      height: 30px;
      color: #fff;

      &.active {
        background-color: #198754;
      }

      &.inactive {
        background-color: #d93939;
      }
    }
  }
}
